@import "../../index.css";
/* common css */
.cp {
    padding: 10px 20px;
}
.bg-white {
    background-color: var(--white);
}
/* common css */


.dashboard {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
}

.left-col {
    width: 180px;
    display: flex;
    background-color: var(--blue);
}
.sidebar {
    display: flex;
    flex-grow: 1;
}
.sidebar .sidebar-inner {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px 15px;
}
.sidebar .logo > li {
    color: var(--white);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.right-col {
    display: flex;
    flex-direction: column;
    width: calc(100% - 180px);
}
.right-col .dashboard-content {
    position: relative;
}
.common-menu .sub-heading {
    color: var(--lightblue);
    font-size: 12px;
    text-transform: uppercase;
}
.manage {
    flex-grow: 1;
}

.list-menu > li > a {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}
.list-menu > li > a > .svg-inline--fa {
    margin-right: 10px;
    width: 20px;
}
.user-menu {
    margin-top: auto;
}
.user-menu > .list-menu > li > a {
    justify-content: space-between;
}
.user-menu > .list-menu > li > a > span {
    width: calc(100% - 35px);
    max-width: calc(100% - 35px);
    overflow: hidden;
}
.user-menu > .list-menu > li > a > span > span {
    font-size: 14px;
    display: block;
}
.user-menu > .list-menu > li > a > span > span:last-child {
    font-size: 12px;
    word-break: break-all;
}
.user-menu > .list-menu > li > a > .svg-inline--fa {
    margin-right: 0;
    max-width: 30px;
    width: 100%;
    font-size: 25px;
}
.add-task {
    padding: 10px 20px;
    margin-bottom: 3px;
    box-shadow: rgb(0 0 0 / 13%) 0px 2px 6px 0px;
    /* position: absolute;
    left: 0;
    right: 0; */
}
.add-task > form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-task > form > input {
    flex-grow: 1;
    border: 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
}
.add-task > form > input::placeholder {
    font-weight: 700;
    color: var(--gray);
}

.add-task > form > .action-option {
    display: flex;
    align-items: center;
}
.add-task > form > .action-option > .action {
    flex-grow: 1;
    font-size: 18px;
}
.add-task > form > .action-option > .action > .svg-inline--fa {
    color: var(--gray);
}
.add-task > form > .action-option > .timer {
    max-width: 100px;
    margin: 0 15px;
} 
.add-task > form > .action-option > .timer > input {
    width: 100%;
    text-align: center;
    border: 0;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 700;
    color: var(--black);
    font-size: 18px;
}
.add-task > form > .action-option > .timer > input:hover {
    background-color: var(--lightpink);
}
.add-task > form > .action-option > .timer > input::placeholder {
    text-align: center;
    font-weight: 700;
    color: var(--black);
}
.add-task > form > .action-option > .play > button {
    border: 0;
    background: transparent;
}
.add-task > form > .action-option > .play > button:focus {
    border: 0;
    outline: 0;
    background: transparent;
}
.add-task > form > .action-option > .play > button > .svg-inline--fa {
    font-size: 35px;
    color: var(--pink);
}
.task-list {
    background-color: var(--lightpink);
    padding: 10px 0px;
}
.this-week {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.this-week p {
    color: var(--black);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.project-progress-bar p {
    color: var(--green);
    font-size: 12px;
    font-weight: 700;
}
.project-progress-bar span {
    display: inline-block;
    height: 4px;
    border-radius: 5px;
    background-color: var(--green);
    width: 100%;
}

.day-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.day-actions .cust-date-p > p {
    color: var(--black);
    font-weight: 700;
}

.day-actions .cust-time-p {
    max-width: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cust-time-p .cust-time p {
    font-weight: 700;
}
.bulk-action {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}
.bulk-action .svg-inline--fa {
    color: var(--gray);
}
.bulk-action:hover {
    background-color: var(--lightpink);
}
.bulk-action:hover .svg-inline--fa {
    color: var(--pink);
}

.day-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.task-description {
    flex-grow: 1;
    max-width: 400px;
    overflow: hidden;
}
.task-description p {
    color: var(--black);
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 15px;
}
.task-project {
    flex-grow: 1;
}
.task-project p {
    color: var(--green);
    font-weight: 500;
}

.task-time-p {
    max-width: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-hover-c {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}
.task-hover-c .svg-inline--fa {
    color: var(--gray);
}
.task-action-btn {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}
.task-action-btn .svg-inline--fa {
    color: var(--gray);
}
.task-action-btn:hover {
    background-color: var(--lightpink);
}
.task-action-btn:hover .svg-inline--fa {
    color: var(--pink);
}